# Python
backend/venv/
backend/__pycache__/
*.pyc
backend/discoveries.json

# Xcode / iOS
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
.orbit/

# OS/System
.DS_Store
Thumbs.db
